.hero-unit
  %form{:method => 'post', :action => url("/competitions/#{@competition._id}")}
    %div.clearfix
      %input.comp-name.span16{:name => 'comp_name',
                              :size => 30,
                              :type => 'text',
                              :value => @competition.name}
    %div.clearfix
      %div.input
        %div.inline-inputs
          %input.small{:type  => 'text',
                       :name  => 'start_date',
                       :value => @competition.start_date.strftime('%Y-%m-%d')}
          %input.mini{:type  => 'text',
                      :name  => 'start_time',
                      :value => @competition.start_date.strftime('%l:%M%P')}
          to
          %input.small{:type  => 'text',
                       :name  => 'end_date',
                       :value => @competition.end_date.strftime('%Y-%m-%d')}
          %input.mini{:type  => 'text',
                      :name  => 'end_time',
                      :value => @competition.end_date.strftime('%l:%M%P')}
    %div.action
      %input.btn.primary{:type => 'submit', :value => 'Update Competition'}
