- @competitions.each do |competition|
  .hero-unit
    %h1 #{competition.name}
    %p
      Start Date: #{competition.formatted_start}
    %p
      End Date: #{competition.formatted_end}
    %p
      %a.btn.primary.large{:href => url("/competitions/#{competition._id}")}
        Details
