.hero-unit
  %form{:method => 'post', :action => url('/competitions')}
    %div.clearfix
      %input.comp-name.span16{:name => 'comp_name',
                              :size => 30,
                              :type => 'text',
                              :placeholder => 'New Competition Name'}
    %div.clearfix
      %div.input
        %div.inline-inputs
          %input.small{:type  => 'text',
                       :name  => 'start_date',
                       :value => Date.today.strftime('%Y-%m-%d')}
          %input.mini{:type  => 'text',
                      :name  => 'start_time',
                      :value => '6:00pm'}
          to
          %input.small{:type  => 'text',
                       :name  => 'end_date',
                       :value => (Date.today + 1).strftime('%Y-%m-%d')}
          %input.mini{:type  => 'text',
                      :name  => 'end_time',
                      :value => '6:00pm'}

          %select{:name => "timezone"}
            - @zones.each do |timezone|
              %option{:value => timezone.identifier}
                = timezone.to_option

    %div.action
      %input.btn.primary{:type => 'submit', :value => 'Create Competition'}
