.hero-unit
  %h1 #{@competition.name}
  %p
    #{@competition.formatted_start}
    to
    #{@competition.formatted_end}
  - if authorized?
    %p
      %a.btn.primary.large{:href => url("/competitions/#{@competition._id}/edit")}
        Edit
